@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400&display=swap');

body{
    background-color: white;
}

header{
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}


.logo{
    width: 400px;
    height: 150px;
}





.link{
    color: white;
    width: 25px;
}
.nav-links{
    background-color: black;
    list-style: none;
    display: flex;
    gap: 3rem;

}
aside{
    background-color: grey;
    align-items: ;
}
