*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/*corps de toute les pages*/

body{
    background-color: burlywood;
    width: 100%;
    height: 100%;
}

/*Entete de toute les pages*/

header{
    display: flex;
    text-align: center;
    gap: 40%;
}

#logo{
    width: 20%;
}

#slogan{
    font-size: 200%;
}

/*Navigation de toute les pages*/


#promo{
    width: 100%;
    position: relative;
    margin: 0;
}

a{
    text-decoration: none;
    color:black;
    font-size: 150%;
}

a:hover{
    color: #ccc;
}


.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(55, 139, 55);
    padding: 0.75%;
    margin: 1%;
}

h1{
    justify-content: center;
    font-size: 300%;
    text-decoration: underline;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border: 3px solid rgb(55, 139 ,55);
    border-radius: 50px;
}
.text{
    word-spacing: 0.5rem;
    text-align: center;
}

h2{
    margin: 0.5rem;
}

article{
    font-size: 150%;
}

/*Contact*/


#contact{
    text-align: center;
    font-size: 100%;
}

/*tableau*/


#tableau{
    text-align: center;
    justify-content: center;
}